*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
/*header*/
header{
	background-color: #ebffea;
}
.info_block{
	width: 100%;
	height: 120px;
	background: linear-gradient(to bottom, rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 );
}
.DNZ{
	font-family: 'Roboto Slab', serif;
	font-size: 150%;
	text-align: center;
}
@media(max-width: 620px){
	.DNZ{
	font-size: 100%;
	}
}
.KK{
	font-family: 'Lobster', cursive;
	font-size: 280%;
	text-align: center;
}
.menu_divs{
	position: relative;
	margin-top: 32%;
	width: 70%;
	height: 150px;
	margin-left: 15%;
	display: flex;
	justify-content: space-around;
	text-align: center;
	z-index: 10;
}
@media(max-width: 1000px){
	.menu_divs{
		margin-top: 25%;
	}
}
@media(max-width: 1400px){
	.menu_divs{
		margin-top: 28%;
		margin-bottom: 4%;
	}
}
@media(max-width: 1000px){
	.menu_divs{
		margin-top: 25%;
		margin-bottom: 7%;
	}
}
@media(max-width: 800px){
	.menu_divs{
		margin-top: 23%;
		margin-bottom: 9%;
	}
}
.blocks{
	width: 15%;
	height: 25%;
	min-width: 60px;
	margin: 10px;
	position: relative;
	top: 25%;
	padding-top: 0.5%;
	font-size: 150%;
	border-radius: 5%;
	font-family: 'Scada', sans-serif;
	background: linear-gradient(to bottom, rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 );
	min-width: 65px;
}
.blocks:hover{
	box-shadow:inset 2px 2px 10px 2px #000000;
	font-size: 130%;
}
@media(max-width: 1800px){
	.blocks{
	width: 20%;
	}
}
@media(max-width: 1470px){
	.blocks{
	width: 20%;
	height: 40%;
	}
}
@media(max-width: 950px){
	.blocks{
	font-size: 110%;
	}
}
@media(max-width: 800px){
	.blocks{
	font-size: 80%;
	}
}
@media(max-width: 650px){
	.blocks{
	width: 20%;
	height: 25%;
	}
}
/*slider*/
.slider {
	width: 100%;
	position: absolute;
	top: 12%;
	z-index: 5;
}

@media(max-width: 500px){
	.slider{
	display: none;
	}
	.menu_divs{
		margin-top: -3%;
	}
}
.slider-wrapper {
	width: 100%;
	height: 400px;
	position: relative;
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}
.line{
	width: 100%;
	height: 50px;
	background: linear-gradient(to bottom, rgba(210,255,82,1) 0%,rgba(145,232,66,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 );
	position: relative;
}
@media(max-width: 1600px){
	.line{
		margin-top: -2%;
	}
}
@media(max-width: 1320px){
	.line{
		margin-top: -4%;
	}
}
@media(max-width: 1150px){
	.line{
		margin-top: -6%;
	}
}
@media(max-width: 1000px){
	.line{
		margin-top: -9%;
	}
}
@media(max-width: 850px){
	.line{
		margin-top: -12%;
	}
}
@media(max-width: 740px){
	.line{
		margin-top: -15%;
	}
}
@media(max-width: 650px){
	.line{
		margin-top: -19%;
	}
}
@media(max-width: 560px){
	.line{
		margin-top: -22%;
	}
}
@media(max-width: 500px){
	.line{
		margin-top: -15%;
		height: 20px;
	}
	.blocks{
	font-size: 60%;
	}
}
/*main*/
main{
	background-color: #ebffea;
}
.maps{
	border: 10px inset rgba(145,232,66,1);
	margin-top: 2%;
	margin-left: 5%;
	float: left;
}
.div_info{
	float: left;
	width: 35%;
	margin-top: 3%;
	margin-left: 5%;
}
.jnz{
	font-family: 'Kurale', serif;
	font-size: 300%;
	text-align: center;
}
.info{
	font-family: 'Roboto Slab', serif;
	margin-top: 20px;
	font-size: 135%;
}
@media(max-width: 1509px){
	.maps{
		position: relative;
		left: 18%;
	}
	.div_info{
		margin-left: 32%;
	}
}
@media(max-width: 1470px){
	.maps{
		position: relative;
		left: 16%;
	}
}
@media(max-width: 1380px){
	.maps{
		position: relative;
		left: 14%;
	}
}
@media(max-width: 1325px){
	.maps{
		position: relative;
		left: 12%;
	}
}
@media(max-width: 1240px){
	.maps{
		position: relative;
		left: 10%;
	}
}
@media(max-width: 1170px){
	.maps{
		position: relative;
		left: 8%;
	}
}
@media(max-width: 1100px){
	.maps{
		position: relative;
		left: 6%;
	}
}
@media(max-width: 1040px){
	.maps{
		position: relative;
		left: 4%;
	}
}
@media(max-width: 1000px){
	.maps{
		position: relative;
		left: 2%;
	}
}
@media(max-width: 950px){
	.maps{
		position: relative;
		left: 0%;
	}
}
@media(max-width: 920px){
	.maps{
		display: none;
	}
	.div_info{
		width: 70%;
		margin-left: 18%; 
	}
}
.line2{
	width: 100%;
	height: 40px;
	clear: both;
}
/*footer*/
.footer_div{
	background-color: #bef18e;
	width: 100%;
	height: 100px;
	text-align: center;
}
.cop{
	position: relative;
	top: 75%;
	font-size: 120%;
}
.flex{
	width: 100%;
	height: 10px;
	display: flex;
	justify-content: space-around;
}